<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>MOVIE TIME</title>
     {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
</head>
<body >
    <header>
        <nav class="row">
            <a href="{% url movie.views.home }" style="text-decoration:None"><h1>MOVIE TIME</h1></a>
            <form id="form" action='/apidata/' method="post">
                {% csrf_token %}
                <input type="search"  id="search" class="search" name="search" placeholder="Search">
            </form>
        </nav>
    </header>

    <main id="main">
        {% for i in n %}
        <div class="col">
            <div class=" movie">

                <a href="http://127.0.0.1:8000/index_to_movieresult/{{ i.0 }}">
                    <img src="{{ i.1 }}" style="height:380px;" alt="">

                    <div class="movie-info">
                        <h3 style="text-transform: uppercase;" name="movie_name_value" value="{{ i.0 }}">{{ i.0 }}</h3>
                        <span class="red">{{i.2}}</span>
                    </div>
                    <div class="overview">
                        <h3>Overview</h3>
                        Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor
                    </div>
                </a>

            </div>
        </div>
        {% endfor %}


    </main>

    <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="copyright" style="text-align:center">
                            <p>Copyright &copy; 2022 <a href="{% url movie.views.home }"> - MOVIE TIME</a></p>
                        </div>
                    </div>
                </div>
            </div>
    </footer>

        <script src="{% static 'js/script.js' %}"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</body>
</html>