<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ Title }}</title>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
</head>
<body>
      <header>
        <nav class="row">
            <a href="{% url movie.views.home }" style="text-decoration:None"><h1>MOVIE TIME</h1></a>
            <form id="form" action='/apidata/' method="post">
                {% csrf_token %}
                <input type="search"  id="search" class="search" name="search" placeholder="Search">
            </form>
        </nav>
    </header> 
    <div class="container">


            <div class="movie" >
                <a href="{% url 'movie_result' %}">
                    <img src="{{ Poster }}" alt="">

                    <div class="movie-info">
                        <h3>{{ Title }}</h3>
                        <span class="red">{{ imdbRating }}</span>
                    </div>
                    <div class="overview">
                        <h3>Overview</h3>
                        {{ Year }}<br>
                            {{ Genre }}<br>
                            IMDB Rating : {{ imdbRating }}
                    </div>
                </a>
            </div>

    </div>
      <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="copyright" style="text-align:center">
                            <p>Copyright &copy; 2022 <a href="{% url movie.views.home }"> - MOVIE TIME</a></p>
                        </div>
                    </div>
                </div>
            </div>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</body>
</html>